@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
}
h1,
h2 {
  font-size: 2em;
  color: rgb(223, 173, 119);
  display: flex;
}
h2 {
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}
h3 {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
p{
  font-size: 1.1rem;
}
ul {
  list-style: none;
  flex-flow: row wrap;
  display: flex;
  justify-content: flex-end;
}
li {
  margin-left: 20px;
  color: #fff;
}
a {
  text-decoration: none;
 
}
/*////////////////////////////////HEADER////////////////////////////////////////*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 20px;
  border-bottom: 2px solid #fff;
}

/*/////////////////////////////////////HEADER/END//////////////////////////////////*/

/*//////////////////////SECTION CONTAINER/INDEX////////////////*/
.container, .product-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.img-items {
  width: 300px;
  height: 250px;
  border: 1px solid rgb(223, 173, 119);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 20px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px rgb(223, 173, 119);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img-items img {
  width: 100%;
  height: 80%;
}
.name-items {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.btn-items {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgb(223, 173, 119);
  color: #000;
  font-size: 0.9em;
}
.btn-items:hover {
  cursor: pointer;
  background-color: rgb(236, 198, 157);
}
/*///////////////////////////END CONTAINER INDEX//////////////////////////////////*/
/*////////////////////////////FOOTER INDEX///////////////////////////////////////*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(223, 173, 119);
  margin-top: 20px;
}
footer li {
  color: #000;
}
/*////////////////////////////END FOOTER INDEX///////////////////////////////////////*/
/*///////////////////////////////PRODUCT.HTML/CONTAINER PRODUCT///////////////////////////////////*/
.description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.img-product {
  max-width: 600px;
  max-height: 500px;
  border: 1px solid rgb(223, 173, 119);
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 20px;
  border-radius: 5%;
  box-shadow: 3px 3px 3px rgb(223, 173, 119);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.img-product img {
  width: 100%;
}
.name{
 display: flex;
 justify-content: center;
 font-size: 2rem;
}
.ref{
  font-size: 0.8rem;
}
.text{
  margin-top: -5px;
}
.price{
  color:rgb(223, 173, 119);
  font-weight: 800;
}
.choice-optical{
  display :flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  
}
.optical-content{
  display :flex;
  align-items: center;
  margin: 20px;
}
.text-optical{
  margin-right: 10px;
}
#optical{
  width: 100PX;
  height: 30px;
  border-radius: 5px;
}
.add-to-cart{
 
  background-color: rgb(223, 173, 119);
 width: 100px;
 border-radius: 10px;
}
/*//////////////////////////////PANIER///////////////////////////*/
.basket{
  color: #fff;
  border: 1px solid #fff;

}
table {
  width: 95%;
  margin: auto;
}
table tr{
width: 100%;
 
  display: flex;
  flex-direction: row;
  
}
th{
  width: 100%;
  margin-top: 10px;
}
thead{
  font-size: 1.1em;
}
tbody{
  width: 100%;
  height: 60%;
  font-size: 0.9em;
}
.basket p {
  margin-top: 50px;
}

#btnMoins, #btnPlus {
 
  font-size: 10px;
  font-weight: bold;
  margin: 3px;
 
 
}
#contain-subtotal {
  width: 50%;
  margin: 30px auto;
  vertical-align: middle;
  color: rgb(223, 173, 119);
}
#subtotal{
  color: rgb(223, 173, 119);
}
#confirm-command{
width : 30%;
margin: auto;
display: flex;
justify-content: center;
vertical-align: middle;
border: 2px solid rgb(223, 173, 119);

}
.trash {
  width: 25px;
  height: 22px;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
 
}
/*//////////////////////////MEDIA QUERIES/////////////////////////////*/
@media (min-width: 768px) {
  .container {
    flex-flow: row wrap;
  }
}